<!DOCTYPE html>
<html>
  <head>
    <title>Funny Videos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-current-user="<%= current_user&.username -%>">
    <%= render partial: 'layouts/header'%>
    <div class="container body-wrapper">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
